n8n/workflows/graph-query-mcp.json
{
  "name": "DG Graph Query (MCP)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dg/graph-query",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Ingest Prompt",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -700,
        0
      ],
      "webhookId": "dg-graph-query"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "prompt_text",
              "value": "={{$json.prompt || ($json.body && $json.body.prompt) || ($json.query && $json.query.prompt) || $json.question || ''}}"
            },
            {
              "name": "project_name",
              "value": "={{$json.project_name || $json.project || ($json.body && ($json.body.project_name || $json.body.project)) || ''}}"
            },
            {
              "name": "ollama_model",
              "value": "={{$json.ollama_model || 'llama3.1:latest'}}"
            },
            {
              "name": "ollama_url",
              "value": ""
            },
            {
              "name": "mcp_url",
              "value": "={{$json.mcp_url || 'http://data-service:8000/mcp'}}"
            },
            {
              "name": "data_service_url",
              "value": "={{$json.data_service_url || 'http://data-service:8000'}}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Set Input Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -460,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ ($items('Set Input Defaults')[0].json.data_service_url || 'http://data-service:8000') + '/context/assemble' }}",
        "jsonParameters": true,
        "options": {
          "timeout": 900000
        },
        "bodyParametersJson": "={{ { \"type\": \"graph_query\", \"project\": $items('Set Input Defaults')[0].json.project_name, \"question\": $items('Set Input Defaults')[0].json.prompt_text } }}",
        "requestMethod": "POST"
      },
      "id": "3",
      "name": "Assemble Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Phase 29-05: thin caller -- the live-schema + v3-data-model + keyword-override\n// guidance string, and the \"Smart Overrides\" keyword-matching logic, now live\n// entirely in data-service's /context/assemble (dg_context.assemble_context()\n// + its deterministic _match_shape_ids() keyword matcher, Plan 29-03). This\n// node only string-joins the assembled context dict into the final prompt --\n// it asks for RAW Cypher text (no JSON wrapper), matching what\n// POST /context/generate-cypher's validate_cypher() expects as input.\nconst input = $items(\"Set Input Defaults\")[0].json;\nconst context = $json;\nconst promptText = (input.prompt_text || '').trim();\nif (!promptText) {\n  throw new Error('prompt is required');\n}\n\nconst projectNote = input.project_name\n  ? `MANDATORY: You MUST add r.project = $project to EVERY query that touches Rule, Atom, Var, or Literal nodes. The active project is \\\"${input.project_name}\\\". Never omit this filter -- results must be scoped to this project only.`\n  : 'Only add a project filter if the user explicitly mentions a project.';\n\nconst prompt = [\n  'You are a Neo4j Cypher expert.',\n  'Generate a single read-only Cypher query that answers the user question.',\n  'Output Cypher only -- no JSON, no markdown fences, no commentary.',\n  'STRICT RULE: Use ONLY the labels, relationship types, and property keys described in the CONTEXT below.',\n  '',\n  'CONTEXT (deterministically assembled by /context/assemble -- schema layers, SWRL conventions, matched Cypher catalog shape(s), and known existing entities):',\n  JSON.stringify({\n    ontograph: context.ontograph,\n    metagraph: context.metagraph,\n    validgraph: context.validgraph,\n    swrl_conventions: context.swrl_conventions,\n    selected_cypher_shapes: context.selected_cypher_shapes,\n    existing_entities: context.existing_entities\n  }),\n  '',\n  `- ${projectNote}`,\n  '- Always include LIMIT 50 unless the user explicitly asks for all results.',\n  '',\n  'Question:',\n  promptText\n].join('\\n');\n\nreturn [{ json: { ...input, cypher_prompt: prompt } }];"
      },
      "id": "4",
      "name": "Build Cypher Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        20,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ ($items('Set Input Defaults')[0].json.data_service_url || 'http://data-service:8000') + '/context/generate-cypher' }}",
        "jsonParameters": true,
        "options": {
          "timeout": 900000
        },
        "bodyParametersJson": "={{ { \"prompt\": $items(\"Build Cypher Prompt\")[0].json.cypher_prompt, \"type\": \"graph_query\", \"project\": $items('Set Input Defaults')[0].json.project_name } }}",
        "requestMethod": "POST"
      },
      "id": "5",
      "name": "Generate Validated Cypher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Phase 29-05: thin caller -- bracket-nesting / label-rel-prop allow-list\n// checks and the ad hoc project-filter string-injection no longer live here.\n// POST /context/generate-cypher (dg_context.generate_validated_cypher(), Plan\n// 29-04) already ran validate_cypher() (schema + read-only verb policy) with\n// a bounded 3-attempt retry loop -- including a missing_project_key check\n// that drives the LLM to add its own project filter via corrective feedback,\n// replacing this node's old regex-based project-clause injection.\nconst base = $items(\"Build Cypher Prompt\")[0].json;\nconst result = $json;\nif (!result || result.valid !== true || !result.cypher) {\n  const violations = (result && result.violations) || [];\n  throw new Error('Cypher generation failed validation after retries: ' + JSON.stringify(violations));\n}\nlet cypher = result.cypher.trim();\nif (!/\\bLIMIT\\b/i.test(cypher)) {\n  cypher = cypher + ' LIMIT 50';\n}\nreturn [{ json: { ...base, cypher } }];"
      },
      "id": "6",
      "name": "Parse Cypher",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$items(\"Set Input Defaults\")[0].json.mcp_url}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"jsonrpc\": \"2.0\", \"id\": \"query\", \"method\": \"tools/call\", \"params\": { \"name\": \"neo4j_query\", \"arguments\": { \"cypher\": $items(\"Parse Cypher\")[0].json.cypher, \"parameters\": ($items(\"Set Input Defaults\")[0].json.project_name ? { \"project\": $items(\"Set Input Defaults\")[0].json.project_name } : {}) } } } }}",
        "requestMethod": "POST"
      },
      "id": "7",
      "name": "Run Cypher (MCP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const input = $items(\"Set Input Defaults\")[0].json;\nconst cypher = $items(\"Parse Cypher\")[0].json.cypher;\nconst result = $json?.result?.data || {};\nconst records = Array.isArray(result.records) ? result.records : [];\nconst sample = records.slice(0, 30);\nconst prompt = [\n  'You are a concise assistant answering questions about a Neo4j graph.',\n  'Use the query results to answer. If results are empty, say no data found.',\n  'If results include rule text with numeric values, extract the most relevant number and unit.',\n  'Respond in plain language, 1-3 sentences.',\n  'Question:',\n  input.prompt_text,\n  'Cypher:',\n  cypher,\n  'Results (JSON):',\n  JSON.stringify(sample)\n].join('\\\\n');\nreturn [{ json: { ...input, cypher, records: sample, answer_prompt: prompt } }];\n"
      },
      "id": "8",
      "name": "Build Answer Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1010,
        0
      ]
    },
    {
      "parameters": {
        "url": "http://data-service:8000/llm/generate",
        "jsonParameters": true,
        "options": {
          "timeout": 900000
        },
        "bodyParametersJson": "={{ { \"provider\": null, \"model\": null, \"prompt\": $items(\"Build Answer Prompt\")[0].json.answer_prompt, \"system\": null } }}",
        "requestMethod": "POST"
      },
      "id": "9",
      "name": "Generate Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1260,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const base = $items(\"Build Answer Prompt\")[0].json;\nconst raw = $json.text !== undefined ? $json.text : ($json.body !== undefined ? $json.body : $json);\nlet parsed = raw;\ntry {\n  if (typeof raw === 'string') {\n    const trimmed = raw.trim();\n    const start = trimmed.indexOf('{');\n    const end = trimmed.lastIndexOf('}');\n    const jsonText = (start !== -1 && end !== -1) ? trimmed.slice(start, end + 1) : trimmed;\n    parsed = JSON.parse(jsonText);\n  }\n} catch (_) {}\nlet answer = '';\nif (parsed && typeof parsed === 'object') {\n  answer = parsed.answer || parsed.response || parsed.text || '';\n} else if (typeof parsed === 'string') {\n  answer = parsed;\n}\nanswer = (answer || '').trim();\n\nconst question = (base.prompt_text || '').toLowerCase();\nconst records = Array.isArray(base.records) ? base.records : [];\n\nconst findNumericSnippet = (text) => {\n  if (!text || typeof text !== 'string') return '';\n  const match = text.match(/(\\d+(?:\\.\\d+)?)\\s*(m|meter|meters|metre|metres|cm|mm|km|hours?|hrs?|days?)\\b/i);\n  if (match) return `${match[1]} ${match[2]}`;\n  const paren = text.match(/\\(([^\\)]*\\d+[^\\)]*)\\)/);\n  if (paren) return paren[1];\n  return '';\n};\n\nif (records.length && /\\blist\\b/.test(question) && /\\brules\\b/.test(question)) {\n  const lines = [];\n  for (const rec of records) {\n    if (!rec || typeof rec !== 'object') continue;\n    const id = rec.id || '';\n    const name = rec.kind || '';\n    const text = rec.text || '';\n    const swrl = '';\n    const snippet = findNumericSnippet(text) || findNumericSnippet(swrl);\n    const label = [id, name].filter(Boolean).join(' - ');\n    const tail = snippet ? ` (${snippet})` : (text ? ` (${text})` : '');\n    lines.push(`${label}${tail}`.trim());\n  }\n  if (lines.length && (!answer || !/\\d/.test(answer))) {\n    answer = lines.join('\\n');\n  }\n}\n\nif (!answer) {\n  let textValue = '';\n  for (const rec of records) {\n    if (!rec || typeof rec !== 'object') continue;\n    if (typeof rec.text === 'string') {\n      textValue = rec.text;\n      break;\n    }\n    for (const key of Object.keys(rec)) {\n      const val = rec[key];\n      if (typeof val === 'string' && /\\d/.test(val)) {\n        textValue = val;\n        break;\n      }\n      if (val && typeof val === 'object' && typeof val.properties === 'object') {\n        const propText = val.properties.text;\n        if (typeof propText === 'string' && /\\d/.test(propText)) {\n          textValue = propText;\n          break;\n        }\n      }\n    }\n    if (textValue) break;\n  }\n  if (textValue) {\n    const match = textValue.match(/(\\d+(?:\\.\\d+)?)\\s*(m|meter|meters|metre|metres|cm|mm|km|hours?|hrs?|days?)\\b/i);\n    if (match && question.includes('height')) {\n      answer = `The maximum height of buildings is ${match[1]} ${match[2]}.`;\n    } else {\n      answer = textValue;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    status: 'ok',\n    answer,\n    cypher: base.cypher,\n    records: base.records || []\n  }\n}];\n"
      },
      "id": "10",
      "name": "Parse Answer",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1510,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"completed\", \"workflow\": \"graph-query\", \"payload\": $json } }}",
        "requestMethod": "POST"
      },
      "id": "store",
      "name": "Store Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1710,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { status: 'accepted', executionId: String($execution.id) } }];"
      },
      "id": "format-ack",
      "name": "Format Ack",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -400,
        -120
      ]
    },
    {
      "parameters": {
        "responseCode": 200
      },
      "id": "ack",
      "name": "Respond Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -340,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"graph-query\", \"step\": 1, \"progress\": 20, \"message\": \"Workflow started\", \"payload\": {} } }}",
        "requestMethod": "POST"
      },
      "id": "mark",
      "name": "Mark Running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -120,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"graph-query\", \"step\": 2, \"progress\": 40, \"message\": \"Generating cypher\" } }}",
        "requestMethod": "POST"
      },
      "id": "step2",
      "name": "Mark Step 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        140,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"graph-query\", \"step\": 3, \"progress\": 60, \"message\": \"Querying graph\" } }}",
        "requestMethod": "POST"
      },
      "id": "step3",
      "name": "Mark Step 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        640,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"graph-query\", \"step\": 4, \"progress\": 80, \"message\": \"Generating answer\" } }}",
        "requestMethod": "POST"
      },
      "id": "step4",
      "name": "Mark Step 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1130,
        -120
      ]
    }
  ],
  "connections": {
    "Ingest Prompt": {
      "main": [
        [
          {
            "node": "Set Input Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Defaults": {
      "main": [
        [
          {
            "node": "Format Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Ack": {
      "main": [
        [
          {
            "node": "Respond Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Context": {
      "main": [
        [
          {
            "node": "Build Cypher Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cypher Prompt": {
      "main": [
        [
          {
            "node": "Mark Step 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Validated Cypher": {
      "main": [
        [
          {
            "node": "Parse Cypher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cypher": {
      "main": [
        [
          {
            "node": "Mark Step 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Cypher (MCP)": {
      "main": [
        [
          {
            "node": "Build Answer Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Answer Prompt": {
      "main": [
        [
          {
            "node": "Mark Step 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Answer": {
      "main": [
        [
          {
            "node": "Parse Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Answer": {
      "main": [
        [
          {
            "node": "Store Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Result": {
      "main": []
    },
    "Respond Ack": {
      "main": [
        [
          {
            "node": "Mark Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Running": {
      "main": [
        [
          {
            "node": "Assemble Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step 2": {
      "main": [
        [
          {
            "node": "Generate Validated Cypher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step 3": {
      "main": [
        [
          {
            "node": "Run Cypher (MCP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step 4": {
      "main": [
        [
          {
            "node": "Generate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
}
