n8n/workflows/rules-to-metagraph.json
{
  "name": "DG Rules -> Metagraph",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dg/rules-ingest",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Ingest Rules",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-700, 0],
      "webhookId": "dg-rules-ingest"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "rules_text", "value": "={{$json.rules_text || ($json.body && $json.body.rules_text) || ($json.query && $json.query.rules_text) || $json.rules || ''}}" },
            { "name": "neo4j_user", "value": "={{$json.neo4j_user || 'neo4j'}}" },
            { "name": "neo4j_password", "value": "={{$json.neo4j_password || '12345678'}}" },
            { "name": "project_name", "value": "={{$json.project_name || $json.project || 'default-project'}}" },
            { "name": "ollama_model", "value": "={{$json.ollama_model || 'llama3.1-dg:q4'}}" },
            { "name": "ollama_url", "value": "={{$json.ollama_url || 'http://ollama:11434'}}" },
            { "name": "ollama_keep_alive", "value": "={{$json.ollama_keep_alive || '30m'}}" },
            { "name": "neo4j_url", "value": "={{$json.neo4j_url || ($json.body && $json.body.neo4j_url) || ($json.query && $json.query.neo4j_url) || 'http://neo4j:7474'}}" },
            { "name": "data_service_url", "value": "={{$json.data_service_url || 'http://data-service:8000'}}" }
          ]
        }
      },
      "id": "2",
      "name": "Set Input Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [-460, 0]
    },
    {
      "parameters": {
        "functionCode": "const input = $items(\"Set Input Defaults\")[0].json;\nconst rulesText = (input.rules_text || '')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\nif (!rulesText) {\n  throw new Error('rules_text is required');\n}\nconst fewShot = [\n  'Example input: \"Maximum height of each building must be at most 75 m.\"',\n  'Example output:',\n  '// OntoGraph terms',\n  \"MERGE (C_Building:Class {iri:'ex:Building'}) SET C_Building.label='Building'\",\n  \"MERGE (DP_H:DatatypeProperty {iri:'ex:hasHeightM'}) SET DP_H.label='hasHeightM', DP_H.range='xsd:decimal'\",\n  \"MERGE (B_gt:Builtin {iri:'swrlb:greaterThan'}) SET B_gt.label='greaterThan'\",\n  \"MERGE (DP_V:DatatypeProperty {iri:'ex:violatesMaxHeight'}) SET DP_V.label='violatesMaxHeight', DP_V.range='xsd:boolean'\",\n  '// MetaGraph rule + atoms',\n  \"MERGE (r:Rule {id:'R_URB_HEIGHT_MAX_75_V'}) SET r.text='Building(?b)^hasHeightM(?b,?h)^swrlb:greaterThan(?h,75)->violatesMaxHeight(?b,true)', r.kind='violation'\",\n  \"MERGE (vb:Var {name:'?b'})\",\n  \"MERGE (vh:Var {name:'?h'})\",\n  \"MERGE (lit75:Literal {lex:'75', datatype:'xsd:decimal'})\",\n  \"MERGE (litT:Literal {lex:'true', datatype:'xsd:boolean'})\",\n  \"MERGE (a1:Atom {id:'R_URB_HEIGHT_MAX_75_V_A1', type:'ClassAtom'})\",\n  \"MERGE (a2:Atom {id:'R_URB_HEIGHT_MAX_75_V_A2', type:'DataPropertyAtom'})\",\n  \"MERGE (a3:Atom {id:'R_URB_HEIGHT_MAX_75_V_A3', type:'BuiltinAtom'})\",\n  \"MERGE (h1:Atom {id:'R_URB_HEIGHT_MAX_75_V_H1', type:'DataPropertyAtom'})\",\n  'MERGE (r)-[:HAS_BODY {order:1}]->(a1)',\n  'MERGE (r)-[:HAS_BODY {order:2}]->(a2)',\n  'MERGE (r)-[:HAS_BODY {order:3}]->(a3)',\n  'MERGE (r)-[:HAS_HEAD {order:1}]->(h1)',\n  'MERGE (a1)-[:REFERS_TO]->(C_Building)',\n  'MERGE (a2)-[:REFERS_TO]->(DP_H)',\n  'MERGE (a3)-[:REFERS_TO]->(B_gt)',\n  'MERGE (h1)-[:REFERS_TO]->(DP_V)',\n  'MERGE (a1)-[:ARG {pos:1}]->(vb)',\n  'MERGE (a2)-[:ARG {pos:1}]->(vb)',\n  'MERGE (a2)-[:ARG {pos:2}]->(vh)',\n  'MERGE (a3)-[:ARG {pos:1}]->(vh)',\n  'MERGE (a3)-[:ARG {pos:2}]->(lit75)',\n  'MERGE (h1)-[:ARG {pos:1}]->(vb)',\n  'MERGE (h1)-[:ARG {pos:2}]->(litT)'\n].join('\\n');\nconst prompt = [\n  'Convert design rules into Neo4j Cypher MERGE statements. Output Cypher only, no JSON, no markdown fences.',\n  'Follow these conventions exactly:',\n  '- Ontology nodes: Class (iri, label), DatatypeProperty (iri, label, range), ObjectProperty (iri, label, range), Builtin (iri, label).',\n  '- Rule node: Rule (id, text = full SWRL expression, kind = violation).',\n  '- Atom nodes: Atom (id = ruleId + suffix, type = ClassAtom|DataPropertyAtom|ObjectPropertyAtom|BuiltinAtom).',\n  '- Variable nodes: Var (name = ?x).',\n  '- Literal nodes: Literal (lex = value string, datatype = xsd:decimal|xsd:integer|xsd:boolean).',\n  '- Relationships: HAS_BODY {order:N}, HAS_HEAD {order:N}, REFERS_TO, ARG {pos:N}.',\n  '- Rule id format: R_DOMAIN_PROPERTY_LIMIT_V (e.g. R_URB_HEIGHT_MAX_75_V).',\n  '- Use domain-specific property names with units (e.g. hasHeightM, hasClearWidthM, hasAreaM2).',\n  '- Use violation pattern: body checks condition that breaks the rule, head sets violates flag to true.',\n  '- For \"at most X\" use swrlb:greaterThan in body. For \"at least X\" use swrlb:lessThan in body.',\n  '- IRI prefix: ex: for domain terms, swrlb: for builtins.',\n  '',\n  fewShot,\n  '',\n  'Now convert this rule (output ONLY the MERGE statements, then stop):',\n  rulesText\n].join('\\n');\nreturn [{ json: { ...input, prompt } }];"
      },
      "id": "3",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-220, 0]
    },
    {
      "parameters": {
        "url": "={{$items(\"Build LLM Prompt\")[0].json.ollama_url}}/api/generate",
        "jsonParameters": true,
        "options": { "timeout": 900000 },
        "bodyParametersJson": "={{ { \"model\": $items(\"Build LLM Prompt\")[0].json.ollama_model, \"prompt\": $items(\"Build LLM Prompt\")[0].json.prompt, \"stream\": false, \"keep_alive\": $items(\"Build LLM Prompt\")[0].json.ollama_keep_alive, \"options\": { \"num_predict\": 2048, \"temperature\": 0.1 }, \"stop\": [\"Now convert\", \"Example input\", \"\\n\\n\\n\"] } }}",
        "requestMethod": "POST"
      },
      "id": "4",
      "name": "Ollama Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [20, 0]
    },
    {
      "parameters": {
        "functionCode": "const input = $items(\"Set Input Defaults\")[0].json;\nconst base = {\n  project_name: input.project_name,\n  neo4j_user: input.neo4j_user,\n  neo4j_password: input.neo4j_password,\n  neo4j_url: input.neo4j_url\n};\nconst raw = $json.response !== undefined ? $json.response : ($json.body !== undefined ? $json.body : $json);\nlet cypherText = '';\nif (typeof raw === 'string') {\n  cypherText = raw;\n} else if (raw && typeof raw === 'object' && typeof raw.response === 'string') {\n  cypherText = raw.response;\n} else {\n  cypherText = JSON.stringify(raw);\n}\ncypherText = cypherText.replace(/```(?:cypher)?\\s*/gi, '').replace(/```/g, '').trim();\n\nfunction fixOutsideQuotes(str) {\n  const parts = str.split(\"'\");\n  for (let i = 0; i < parts.length; i += 2) {\n    parts[i] = parts[i].replace(/\\)\\)+/g, ')');\n    parts[i] = parts[i].replace(/\\}\\}+/g, '}');\n    parts[i] = parts[i].replace(/\\]\\}/g, ']');\n  }\n  return parts.join(\"'\");\n}\n\nfunction hasValidNesting(str) {\n  const u = str.replace(/'[^']*'/g, '');\n  const stack = [];\n  const opn = {'(':')','{':'}','[':']'};\n  for (const c of u) {\n    if (opn[c]) stack.push(c);\n    else if (c === ')' || c === '}' || c === ']') {\n      if (!stack.length || opn[stack.pop()] !== c) return false;\n    }\n  }\n  return !stack.length;\n}\n\nconst mergeChunks = cypherText.split(/(?=MERGE\\s)/i).map(s => s.trim()).filter(s => /^MERGE\\s/i.test(s));\nconst cleaned = [];\nfor (const chunk of mergeChunks) {\n  let s = chunk;\n  if (/MERME|MERX|MER:|MER\\s*\\{|LexicalForm|LexicalBody|LexicalHead|LexicalRule|LLEX|MERGEMINUS|BVar|:Lex\\s/i.test(s)) break;\n  const sq = (s.match(/'/g) || []).length;\n  if (sq % 2 !== 0) continue;\n  s = fixOutsideQuotes(s);\n  if (!/^MERGE\\s*\\(/i.test(s)) continue;\n  if (!hasValidNesting(s)) continue;\n  const unquoted = s.replace(/'[^']*'/g, '');\n  if (/-\\[/.test(unquoted) && !/\\]->\\(\\w+/.test(unquoted)) continue;\n  cleaned.push(s);\n}\nif (!cleaned.length) {\n  throw new Error('No valid MERGE after cleanup. Raw (first 500): ' + cypherText.slice(0, 500));\n}\nconst unique = [...new Set(cleaned)];\nconst varDefs = new Map();\nconst otherNodes = [];\nconst relMerges = [];\nfor (const stmt of unique) {\n  const stripped = stmt.replace(/'[^']*'/g, '');\n  if (/-\\[/.test(stripped)) { relMerges.push(stmt); continue; }\n  const m = stmt.match(/^MERGE\\s*\\((\\w+)(:\\w+)\\s*(\\{[^}]+\\})\\)\\s*(.*)/);\n  if (m) {\n    const vn = m[1], label = m[2], props = m[3], rest = (m[4] || '').trim();\n    if (!varDefs.has(vn)) { varDefs.set(vn, { label, props, sets: new Set() }); }\n    if (/^SET\\s+/i.test(rest)) {\n      const setPart = rest.replace(/^SET\\s+/i, '').trim();\n      const assigns = setPart.split(/,(?=(?:[^']*'[^']*')*[^']*$)/);\n      for (const a of assigns) { if (a.trim()) varDefs.get(vn).sets.add(a.trim()); }\n    }\n  } else { otherNodes.push(stmt); }\n}\nconst consolidated = [];\nfor (const [vn, info] of varDefs) {\n  let line = 'MERGE (' + vn + info.label + ' ' + info.props + ')';\n  if (info.sets.size > 0) { line += ' SET ' + [...info.sets].join(', '); }\n  consolidated.push(line);\n}\nconst finalCypher = [...consolidated, ...otherNodes, ...relMerges].join('\\n');\nreturn [{ json: { ...base, cypher: finalCypher } }];"
      },
      "id": "5",
      "name": "Parse LLM Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [260, 0]
    },
    {
      "parameters": {
        "functionCode": "const cypher = $json.cypher || '';\nconst project = $json.project_name || 'default-project';\n\nconst postProcess = [\n  \"MATCH (n) WHERE (n:Class OR n:DatatypeProperty OR n:ObjectProperty) AND n.graph IS NULL SET n.graph = 'OntoGraph', n.project = $project\",\n  \"WITH 1 AS dummy\",\n  \"MATCH (n) WHERE (n:Rule OR n:Atom OR n:Builtin OR n:Var OR n:Literal) AND n.graph IS NULL SET n.graph = 'Metagraph', n.project = $project\",\n  \"WITH 1 AS dummy2\",\n  \"MATCH (n) WHERE n.graph IS NULL SET n.graph = 'Metagraph', n.project = $project\"\n].join('\\n');\nreturn [{\n  json: {\n    project_name: $json.project_name,\n    neo4j_user: $json.neo4j_user,\n    neo4j_password: $json.neo4j_password,\n    neo4j_url: $json.neo4j_url,\n    cypher: cypher,\n    postProcess: postProcess\n  }\n}];"
      },
      "id": "6",
      "name": "Prepare Graph Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 0]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "url": "={{ ($items(\"Prepare Graph Payload\")[0].json.neo4j_url || 'http://neo4j:7474') + '/db/neo4j/tx/commit' }}",
        "jsonParameters": true,
        "options": { "ignoreSslIssues": true, "timeout": 900000 },
        "bodyParametersJson": "={{ { \"statements\": [ { \"statement\": $items('Prepare Graph Payload')[0].json.cypher } ] } }}",
        "basicAuthUser": "={{$items(\"Prepare Graph Payload\")[0].json.neo4j_user}}",
        "basicAuthPassword": "={{$items(\"Prepare Graph Payload\")[0].json.neo4j_password}}",
        "requestMethod": "POST"
      },
      "id": "8",
      "name": "Execute LLM Cypher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1010, 0]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "url": "={{ ($items(\"Prepare Graph Payload\")[0].json.neo4j_url || 'http://neo4j:7474') + '/db/neo4j/tx/commit' }}",
        "jsonParameters": true,
        "options": { "ignoreSslIssues": true, "timeout": 900000 },
        "bodyParametersJson": "={{ { \"statements\": [ { \"statement\": $items('Prepare Graph Payload')[0].json.postProcess, \"parameters\": { \"project\": $items('Prepare Graph Payload')[0].json.project_name } } ] } }}",
        "basicAuthUser": "={{$items(\"Prepare Graph Payload\")[0].json.neo4j_user}}",
        "basicAuthPassword": "={{$items(\"Prepare Graph Payload\")[0].json.neo4j_password}}",
        "requestMethod": "POST"
      },
      "id": "9",
      "name": "Annotate Graph Props",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1260, 0]
    },
    {
      "parameters": {
        "functionCode": "const payload = $items(\"Prepare Graph Payload\")[0].json;\nconst cypher = payload.cypher || '';\nconst mergeCount = (cypher.match(/MERGE/gi) || []).length;\nreturn [{\n  json: {\n    status: \"ok\",\n    project: payload.project_name,\n    database: \"neo4j\",\n    graphs: { ontology: \"OntoGraph\", rules: \"Metagraph\" },\n    counts: { merge_statements: mergeCount },\n    cypher: cypher\n  }\n}];"
      },
      "id": "10",
      "name": "Build Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1510, 0]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"completed\", \"workflow\": \"rules-ingest\", \"payload\": $json } }}",
        "requestMethod": "POST"
      },
      "id": "store",
      "name": "Store Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1680, 0]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseData": "={{ { \"status\": \"accepted\", \"executionId\": $execution.id } }}"
      },
      "id": "ack",
      "name": "Respond Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-340, -120]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"rules-ingest\", \"step\": 1, \"progress\": 20, \"message\": \"Workflow started\", \"payload\": {} } }}",
        "requestMethod": "POST"
      },
      "id": "mark",
      "name": "Mark Running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [-120, -120]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"rules-ingest\", \"step\": 2, \"progress\": 40, \"message\": \"Parsing rules\" } }}",
        "requestMethod": "POST"
      },
      "id": "step2",
      "name": "Mark Step 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [-100, -120]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"rules-ingest\", \"step\": 3, \"progress\": 60, \"message\": \"Writing graph\" } }}",
        "requestMethod": "POST"
      },
      "id": "step3",
      "name": "Mark Step 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [760, -120]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"rules-ingest\", \"step\": 4, \"progress\": 80, \"message\": \"Annotating properties\" } }}",
        "requestMethod": "POST"
      },
      "id": "step4",
      "name": "Mark Step 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1180, -120]
    }
  ],
  "connections": {
    "Ingest Rules": { "main": [[{ "node": "Set Input Defaults", "type": "main", "index": 0 }]] },
    "Set Input Defaults": { "main": [[{ "node": "Respond Ack", "type": "main", "index": 0 }]] },
    "Build LLM Prompt": { "main": [[{ "node": "Mark Step 2", "type": "main", "index": 0 }]] },
    "Ollama Generate": { "main": [[{ "node": "Parse LLM Output", "type": "main", "index": 0 }]] },
    "Parse LLM Output": { "main": [[{ "node": "Prepare Graph Payload", "type": "main", "index": 0 }]] },
    "Prepare Graph Payload": { "main": [[{ "node": "Mark Step 3", "type": "main", "index": 0 }]] },
    "Execute LLM Cypher": { "main": [[{ "node": "Mark Step 4", "type": "main", "index": 0 }]] },
    "Annotate Graph Props": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Store Result", "type": "main", "index": 0 }]] },
    "Store Result": { "main": [] },
    "Respond Ack": { "main": [[{ "node": "Mark Running", "type": "main", "index": 0 }]] },
    "Mark Running": { "main": [[{ "node": "Build LLM Prompt", "type": "main", "index": 0 }]] },
    "Mark Step 2": { "main": [[{ "node": "Ollama Generate", "type": "main", "index": 0 }]] },
    "Mark Step 3": { "main": [[{ "node": "Execute LLM Cypher", "type": "main", "index": 0 }]] },
    "Mark Step 4": { "main": [[{ "node": "Annotate Graph Props", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
