n8n/workflows/rules-to-metagraph.json
{
  "name": "DG Rules -> Metagraph",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dg/rules-ingest",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Ingest Rules",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -700,
        0
      ],
      "webhookId": "dg-rules-ingest"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "rules_text",
              "value": "={{$json.rules_text || ($json.body && $json.body.rules_text) || ($json.query && $json.query.rules_text) || $json.rules || ''}}"
            },
            {
              "name": "neo4j_user",
              "value": "={{$json.neo4j_user || 'neo4j'}}"
            },
            {
              "name": "neo4j_password",
              "value": "={{$json.neo4j_password || '12345678'}}"
            },
            {
              "name": "project_name",
              "value": "={{$json.project_name || $json.project || ($json.body && ($json.body.project_name || $json.body.project)) || 'default-project'}}"
            },
            {
              "name": "ollama_model",
              "value": "={{$json.ollama_model || 'llama3.1:latest'}}"
            },
            {
              "name": "ollama_url",
              "value": ""
            },
            {
              "name": "ollama_keep_alive",
              "value": "={{$json.ollama_keep_alive || '30m'}}"
            },
            {
              "name": "neo4j_url",
              "value": "={{$json.neo4j_url || ($json.body && $json.body.neo4j_url) || ($json.query && $json.query.neo4j_url) || 'http://neo4j:7474'}}"
            },
            {
              "name": "data_service_url",
              "value": "={{$json.data_service_url || 'http://data-service:8000'}}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Set Input Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -460,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ ($items('Set Input Defaults')[0].json.data_service_url || 'http://data-service:8000') + '/context/assemble' }}",
        "jsonParameters": true,
        "options": {
          "timeout": 900000
        },
        "bodyParametersJson": "={{ { \"type\": \"rule_ingest\", \"project\": $items('Set Input Defaults')[0].json.project_name, \"rules_text\": $items('Set Input Defaults')[0].json.rules_text } }}",
        "requestMethod": "POST"
      },
      "id": "assemble-context",
      "name": "Assemble Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -350,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Phase 29-05: thin caller -- prompt-construction, schema/few-shot text, and\n// the live existing-entity fetch now live entirely in data-service's\n// /context/assemble (dg_context.assemble_context()). This node only:\n// (1) detects edit-mode from the raw rules_text (routing decision, not\n//     Cypher validation -- kept here because /context/assemble does not\n//     know which Rule_Id(s) an edit prompt targets), and\n// (2) string-joins the assembled context dict into the final LLM prompt.\n//\n// NOTE (known limitation vs. pre-Phase-29 behavior): the original node\n// also scored prompt keywords against EXISTING RULE TEXT to infer an edit\n// target when no explicit Rule_Id was mentioned. dg_context.fetch_existing_entities()\n// (ported in Plan 29-03) only unions Class/DatatypeProperty/ObjectProperty\n// entities, not Rule text, so that scoring fallback is not reproducible from\n// /context/assemble's response. Edit detection here is now Rule_Id-mention-only.\nconst input = $items(\"Set Input Defaults\")[0].json;\nconst context = $json;\n\nconst rulesText = (input.rules_text || '')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\nif (!rulesText) {\n  throw new Error('rules_text is required');\n}\n\nconst editPat = /\\b(?:edit|update|change|modify|set|increase|decrease|raise|lower|adjust)\\b/i;\nconst ruleIdPat = /(?:Rule_Id|rule[_ ]?id)\\s*[:=\\s]*\\W*([A-Z_][A-Z0-9_]+)/gi;\nconst isEditPrompt = editPat.test(rulesText);\nconst editRuleIds = [];\nlet ruleIdMatch;\nwhile ((ruleIdMatch = ruleIdPat.exec(rulesText)) !== null) { editRuleIds.push(ruleIdMatch[1]); }\nconst editRuleId = isEditPrompt && editRuleIds.length ? editRuleIds[0] : null;\n\nconst existingEntities = Array.isArray(context.existing_entities) ? context.existing_entities : [];\nconst entityLines = [];\nif (existingEntities.length) {\n  entityLines.push('EXISTING ENTITIES IN THE GRAPH (you MUST reuse these, do NOT create duplicates):');\n  existingEntities.forEach((e) => {\n    const disp = e.nodeLabel === 'Class' ? e.label : (e.swrl_label || e.label);\n    entityLines.push('  - ' + disp + ' [' + e.nodeLabel + '] (iri: ' + e.iri + (e.range ? ', range: ' + e.range : '') + ')');\n  });\n}\n\nconst editGuidance = editRuleId ? (\n  'EDIT MODE: You are EDITING existing rule(s): ' + editRuleIds.join(', ') + '.\\n' +\n  'Output the COMPLETE updated rule(s) with ALL nodes and relationships (MERGE+SET) from scratch.\\n' +\n  'Keep the same DatatypeProperty/Class iris from the original rule; only change the Literal lex value for numeric threshold edits.\\n' +\n  'Update Rule_Id to reflect the new numeric limit (e.g. R_..._1_V becomes R_..._2_V).\\n' +\n  'If the prompt adds new constraints, create those as SEPARATE new Rules.\\n' +\n  'NEVER output rules that were not mentioned in the edit prompt.'\n) : '';\n\nconst prompt = [\n  'Convert design rules into Neo4j Cypher MERGE + SET statements. Output Cypher only, no JSON, no markdown fences.',\n  '',\n  'CONTEXT (deterministically assembled by /context/assemble -- schema layers, SWRL conventions, and the matched Cypher catalog shape(s) with worked examples):',\n  JSON.stringify({\n    ontograph: context.ontograph,\n    metagraph: context.metagraph,\n    swrl_conventions: context.swrl_conventions,\n    selected_cypher_shapes: context.selected_cypher_shapes\n  }),\n  '',\n  \"project = '\" + input.project_name + \"'\",\n  '',\n  entityLines.join('\\n'),\n  '',\n  editGuidance,\n  '',\n  'Now convert these rules (output ONLY the Cypher MERGE+SET statements, then stop):',\n  rulesText\n].join('\\n');\n\nreturn [{ json: { ...input, prompt, isEdit: !!editRuleId, editRuleIds: editRuleIds } }];"
      },
      "id": "3",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ ($items('Set Input Defaults')[0].json.data_service_url || 'http://data-service:8000') + '/context/generate-cypher' }}",
        "jsonParameters": true,
        "options": {
          "timeout": 900000
        },
        "bodyParametersJson": "={{ { \"prompt\": $items(\"Build LLM Prompt\")[0].json.prompt, \"type\": \"rule_ingest\", \"project\": $items('Set Input Defaults')[0].json.project_name } }}",
        "requestMethod": "POST"
      },
      "id": "4",
      "name": "Generate Validated Cypher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        20,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Phase 29-05: thin caller -- bracket-nesting / label-allow-list validation\n// no longer lives here. POST /context/generate-cypher (dg_context.generate_validated_cypher(),\n// Plan 29-04) already ran validate_cypher() with a bounded 3-attempt retry\n// loop before this node ever sees a response: {valid, cypher, attempts} on\n// success, or {valid:false, violations, attempts} once retries are exhausted.\nconst input = $items(\"Set Input Defaults\")[0].json;\nconst llmBuild = $items(\"Build LLM Prompt\")[0].json;\nconst base = {\n  project_name: input.project_name,\n  neo4j_user: input.neo4j_user,\n  neo4j_password: input.neo4j_password,\n  neo4j_url: input.neo4j_url,\n  rules_text: input.rules_text || '',\n  isEdit: llmBuild.isEdit || false,\n  editRuleIds: llmBuild.editRuleIds || []\n};\nconst result = $json;\nif (!result || result.valid !== true || !result.cypher) {\n  const violations = (result && result.violations) || [];\n  throw new Error('Cypher generation failed validation after retries: ' + JSON.stringify(violations));\n}\nreturn [{ json: { ...base, cypher: result.cypher } }];"
      },
      "id": "5",
      "name": "Parse LLM Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const cypher = $json.cypher || '';\nconst project = $json.project_name || 'default-project';\nconst isEdit = $json.isEdit || false;\nconst editRuleIds = $json.editRuleIds || [];\nlet cleanupStatements = [];\nif (isEdit && editRuleIds.length) {\n  for (const rid of editRuleIds) {\n    const safeId = rid.replace(/[^A-Za-z0-9_]/g, '');\n    cleanupStatements.push(\n      \"MATCH (:Rule {Rule_Id: '\" + safeId + \"'})-[:HAS_BODY|HAS_HEAD]->(a:Atom)-[arg:ARG]->() DELETE arg\",\n      \"MATCH (:Rule {Rule_Id: '\" + safeId + \"'})-[:HAS_BODY|HAS_HEAD]->(a:Atom)-[ref:REFERS_TO]->() DELETE ref\",\n      \"MATCH (:Rule {Rule_Id: '\" + safeId + \"'})-[rel:HAS_BODY|HAS_HEAD]->(a:Atom) DELETE rel, a\",\n      \"MATCH (r:Rule {Rule_Id: '\" + safeId + \"'}) DELETE r\"\n    );\n  }\n  cleanupStatements.push(\"MATCH (n) WHERE (n:Var OR n:Literal) AND n.graph = 'Metagraph' AND NOT (n)<-[:ARG]-() DELETE n\");\n}\n\nconst postProcess = [\n  \"MATCH (n) WHERE (n:Class OR n:DatatypeProperty OR n:ObjectProperty) AND n.graph IS NULL SET n.graph = 'OntoGraph', n.project = $project\",\n  \"WITH 1 AS dummy\",\n  \"MATCH (n) WHERE (n:Rule OR n:Atom OR n:Builtin OR n:Var OR n:Literal) AND n.graph IS NULL SET n.graph = 'Metagraph', n.project = $project\",\n  \"WITH 1 AS dummy2\",\n  \"MATCH (n) WHERE n.graph IS NULL SET n.graph = 'Metagraph', n.project = $project\"\n].join('\\n');\nconst neo4j_auth_header = 'Basic ' + Buffer.from(($json.neo4j_user || 'neo4j') + ':' + ($json.neo4j_password || '12345678')).toString('base64');\nreturn [{\n  json: {\n    neo4j_auth_header: neo4j_auth_header,\n    project_name: $json.project_name,\n    neo4j_user: $json.neo4j_user,\n    neo4j_password: $json.neo4j_password,\n    neo4j_url: $json.neo4j_url,\n    rules_text: $json.rules_text || '',\n    cypher: cypher,\n    cleanupStatements: cleanupStatements,\n    postProcess: postProcess\n  }\n}];"
      },
      "id": "6",
      "name": "Prepare Graph Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ ($items(\"Prepare Graph Payload\")[0].json.neo4j_url || 'http://neo4j:7474') + '/db/neo4j/tx/commit' }}",
        "jsonParameters": true,
        "options": {
          "ignoreSslIssues": true,
          "timeout": 900000
        },
        "bodyParametersJson": "={{ (() => { const p = $items('Prepare Graph Payload')[0].json; const stmts = (p.cleanupStatements || []).map(s => ({ statement: s })); stmts.push({ statement: p.cypher }); return { statements: stmts }; })() }}",
        "requestMethod": "POST",
        "headerParametersJson": "={{ { \"Authorization\": $items(\"Prepare Graph Payload\")[0].json.neo4j_auth_header } }}"
      },
      "id": "8",
      "name": "Execute LLM Cypher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1010,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ ($items(\"Prepare Graph Payload\")[0].json.neo4j_url || 'http://neo4j:7474') + '/db/neo4j/tx/commit' }}",
        "jsonParameters": true,
        "options": {
          "ignoreSslIssues": true,
          "timeout": 900000
        },
        "bodyParametersJson": "={{ { \"statements\": [ { \"statement\": $items('Prepare Graph Payload')[0].json.postProcess, \"parameters\": { \"project\": $items('Prepare Graph Payload')[0].json.project_name } }, { \"statement\": \"MATCH (r:Rule) WHERE r.graph = 'Metagraph' AND (r.description IS NULL OR r.description = '') SET r.description = $description, r.RuleDescription = $description\", \"parameters\": { \"description\": $items('Prepare Graph Payload')[0].json.rules_text || '' } } ] } }}",
        "requestMethod": "POST",
        "headerParametersJson": "={{ { \"Authorization\": $items(\"Prepare Graph Payload\")[0].json.neo4j_auth_header } }}"
      },
      "id": "9",
      "name": "Annotate Graph Props",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1260,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const payload = $items(\"Prepare Graph Payload\")[0].json;\nconst cypher = payload.cypher || '';\nconst mergeCount = (cypher.match(/MERGE/gi) || []).length;\nreturn [{\n  json: {\n    status: \"ok\",\n    project: payload.project_name,\n    database: \"neo4j\",\n    graphs: { ontology: \"OntoGraph\", rules: \"Metagraph\" },\n    counts: { merge_statements: mergeCount },\n    cypher: cypher\n  }\n}];"
      },
      "id": "10",
      "name": "Build Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1510,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"completed\", \"workflow\": \"rules-ingest\", \"payload\": $json } }}",
        "requestMethod": "POST"
      },
      "id": "store",
      "name": "Store Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { status: 'accepted', executionId: String($execution.id) } }];"
      },
      "id": "format-ack",
      "name": "Format Ack",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -400,
        -120
      ]
    },
    {
      "parameters": {
        "responseCode": 200
      },
      "id": "ack",
      "name": "Respond Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -340,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"rules-ingest\", \"step\": 1, \"progress\": 20, \"message\": \"Workflow started\", \"payload\": {} } }}",
        "requestMethod": "POST"
      },
      "id": "mark",
      "name": "Mark Running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -120,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"rules-ingest\", \"step\": 2, \"progress\": 40, \"message\": \"Parsing rules\" } }}",
        "requestMethod": "POST"
      },
      "id": "step2",
      "name": "Mark Step 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -100,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"rules-ingest\", \"step\": 3, \"progress\": 60, \"message\": \"Writing graph\" } }}",
        "requestMethod": "POST"
      },
      "id": "step3",
      "name": "Mark Step 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{($items(\"Set Input Defaults\")[0].json.data_service_url || 'http://data-service:8000') + '/execution-result'}}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"executionId\": $execution.id, \"status\": \"running\", \"workflow\": \"rules-ingest\", \"step\": 4, \"progress\": 80, \"message\": \"Annotating properties\" } }}",
        "requestMethod": "POST"
      },
      "id": "step4",
      "name": "Mark Step 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1180,
        -120
      ]
    }
  ],
  "connections": {
    "Ingest Rules": {
      "main": [
        [
          {
            "node": "Set Input Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Defaults": {
      "main": [
        [
          {
            "node": "Format Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Ack": {
      "main": [
        [
          {
            "node": "Respond Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Context": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "Mark Step 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Validated Cypher": {
      "main": [
        [
          {
            "node": "Parse LLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Output": {
      "main": [
        [
          {
            "node": "Prepare Graph Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Graph Payload": {
      "main": [
        [
          {
            "node": "Mark Step 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute LLM Cypher": {
      "main": [
        [
          {
            "node": "Mark Step 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Annotate Graph Props": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Store Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Result": {
      "main": []
    },
    "Respond Ack": {
      "main": [
        [
          {
            "node": "Mark Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Running": {
      "main": [
        [
          {
            "node": "Assemble Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step 2": {
      "main": [
        [
          {
            "node": "Generate Validated Cypher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step 3": {
      "main": [
        [
          {
            "node": "Execute LLM Cypher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step 4": {
      "main": [
        [
          {
            "node": "Annotate Graph Props",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
